$color-bg:#FEFEFE;
$color-bg-soft: #f9efff;
$color-primary: #4E48D4;
$color-secondary: #2ED78E;
$color-text-primary: #060C26;
$color-text-primary-soft: #060C26;
$color-text-secondary: #ffffff;

$button-color: #4E48D4;
$button-color-soft: #3e37d1;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 24px;

$max-width: 1444px;
$min-width: 800px;